html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-white);
  font-family: "Manrope", sans-serif;
  text-align: center;
}

/*  
  font-family: "Manrope", sans-serif;
 font-family: "Fraunces", serif;
 */
